.navbar-search-input {
  padding: 10px 15px !important;
  border: 2px solid #ccc !important;
  border-radius: 50px !important;
  outline: none !important;
  flex-grow: 1;
  min-width: 200px;
  max-width: 400px;
  transition: max-width 0.4s ease, box-shadow 0.4s ease !important;
  font-size: 16px !important;
}

.navbar-search-input:focus {
  border-color: #4caf50 !important;
  box-shadow: 0 0 8px rgba(2, 73, 4, 0.5) !important;
  max-width: 450px !important;
}
